:root {
    --off-white: #F0F6F3;
    --light-gray: #c6c6c6;
    --dark-green: #407836;
    --light-rose: #d27b77;
    --light-green: #9bbd64;

    --gradient: linear-gradient(to bottom right, var(--dark-green), var(--light-green));

    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-7: 1.75rem;
    --size-8: 2rem;
    --size-9: 2.5rem;

    --header-outer-height: 140px;
    --header-inner-height: 50px;
    --header-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    --header-height-difference: calc(var(--header-outer-height) - var(--header-inner-height));

    /*font-family: 'Asul', serif;
    font-family: 'Domine', serif;*/

}

p {
    font-family: 'Domine', serif;
    color: black;
}

a {
    font-family: 'Domine', serif;
    text-decoration: none;
    color: var(--dark-green);
    transform: translate(-50%, -50%);
}

a:visited {
    color: var(--light-rose);
}


a:hover {
    color: var(--off-white);
    background: var(--light-green);
}


a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

h1,
h2,
h3 {
    font-family: 'Asul', serif;
}

body {
    background-color: white;
    margin: 0;
}

header {
    background: var(--gradient);
    color: var(--off-white);
    justify-content: center;
    align-items: center;
    margin-bottom: var(--size-7);
}

.header-sticky {
    height: var(--header-outer-height);
    position: sticky;
    top: calc(var(--header-height-difference) * -1);
    display: flex;
    align-items: center;
}

.header-inner {
    height: var(--header-inner-height);
    position: sticky;
    top: 0;
}

.header-subtitle {
    position: absolute;
    top: 80%;
    opacity: 1;
    transition: opacity .3s ease;
    color: var(--off-white);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-3);
    height: 100%;
}

.scrolled .header-subtitle {
    opacity: 0;
    pointer-events: none;
}


section {
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--light-gray);
    background: var(--off-white);
    margin: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    padding: 5em;
}

@media screen and (max-width:740px) {
    section {
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
        padding: 1em;

    }
}


section h2 {
    text-align: center;
}

.nav-list {
    list-style: none;
    padding-inline-start: 3.5%;
}

nav ::marker {
    content: "»";
    font-size: 2em;
    color: var(--dark-green);
    text-indent: -4em;
}

nav li a {
    margin-inline-start: 20px;
}

ul,
ol {
    max-width: 75ch;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-7);
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
}

.team-member img {
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--light-rose);
}

.team-member {
    text-align: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.member-name {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: black;
}

.member-mail {
    text-align: center;
}

@media screen and (max-width: 740px) {
    .team {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--size-7);
        margin-bottom: 10px;
        padding-right: 4%;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-gray);
    padding: 1%;
    padding-top: 2%;
    overflow: hidden;
}

footer p {
    margin: 0;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/*Fonts*/

@font-face {
    font-family: 'wkwkregular';
    src: url('res/wkwk-webfont.woff2') format('woff2'),
        url('res/wkwk-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'library_3_amregular';
    src: url('res/library3am-5v3z-webfont.woff2') format('woff2'),
        url('res/library3am-5v3z-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'england_hand_dbregular';
    src: url('res/england-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.center {
    text-align: center;
}

.sans-serif {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.serif {
    font-family: 'Times New Roman', Times, serif;
}

.slab {
    font-family: 'Sanchez', serif;
}

.script {
    font-family: "england_hand_dbregular";
}

.handwritten {
    font-family: 'wkwkregular';
}

.display {
    font-family: 'library_3_amregular';
}


/*Slider*/

.img-comp-container,
.img-comp-img,
.img-comp-slider {
    box-sizing: border-box;
}

.img-comp-container {
    position: relative;
    height: 200px;
    /* should be the same height as the images */
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
    object-position: center;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
    height: 40px;
    background-color: #407836;
    opacity: 0.7;
    border-radius: 50%;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
}

.flexbox img {
    margin: auto;
}

.unit {
    font-family: monospace;
    font-size: inherit;
    background: var(--light-gray);
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}