:root {
    --off-white: #F0F6F3;
    --light-gray: #c6c6c6;
    --dark-green: #407836;
    --light-rose: #d27b77;
    --light-green: #9bbd64;

    --gradient: linear-gradient(to bottom right, var(--dark-green), var(--light-green));

    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-01: 1rem;
    --size-02: 1.25rem;
    --size-03: 1.56rem; /* 1.25 * 1.25*/
    --size-04: 1.95rem; /* 1.56 * 1.25*/
    --size-05: 2.43rem; /* 1.95 * 1.25*/
    --size-06: 3.03rem;  /* 2.43 * 1.25*/
 

    --header-outer-height: 140px;
    --header-inner-height: 50px;
    --header-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    --header-height-difference: calc(var(--header-outer-height) - var(--header-inner-height));

    /*Überschriften: 'Asul';
    Text: 'Work Sans';*/

}

p,
li {
    font-family: 'Work Sans', 'Arial', sans-serif;
    /*fallback font arial*/
    font-size: var(--size-01); /*1.2em;*/
    color: black;
    margin-bottom: 10px;
}

a {
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-size: var(--size-01); /*1.2em;*/
    text-decoration: none;
    color: var(--dark-green);
    transform: translate(-50%, -50%);
}

a:visited {
    color: var(--light-rose);
}


a:hover {
  text-decoration: underline var(--light-green);
}



a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
h1, h2, h3, h4{
  font-family: 'Asul', serif;
  font-weight: 800;
  line-height: 1.1;
}

h1 {
    font-size: var(--size-06); /*3em;*/
}

h2 {
    font-size: var(--size-03); /*2.5em;*/
}

h3 {
    font-size: var(--size-02); /*1.5em;*/
}

h4 {
    font-size: var(--size-01); /*1em;*/
}

body {
    background-color: white;
    margin: 0;
    line-height: 1.7;
}


header {
    background: var(--gradient);
    color: var(--off-white);
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    z-index: 10;
}

.header-sticky {
    height: var(--header-outer-height);
    position: sticky;
    top: calc(var(--header-height-difference) * -1);
    display: flex;
    align-items: center;
}

.header-inner {
    height: var(--header-inner-height);
    position: sticky;
    top: 0;
}

.header-title {
    transition: font-size .2s ease;
    font-size: var(--size-06); /*3em*/
}

.header-subtitle {
    position: absolute;
    top: 80%;
    opacity: 1;
    transition: opacity .3s ease;
    color: var(--off-white);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10.75rem;
    height: 100%;
}

.scrolled .header-subtitle {
    opacity: 0;
    pointer-events: none;
}

.scrolled .header-title {
    font-size: var(--size-7); /*2em*/
}

section {
    border-style: solid;
    border-width: 0;
    border-radius: 2px;
    border-color: var(--light-gray);
    background: var(--off-white);

    width: clamp(250px, 50vw, 800px);
    margin-left: 60px;
    margin-right: 20px;
    margin-bottom : 60px;
    padding-left: 18px;
    padding-right: 28px;
    padding-bottom: 40px;
    padding-top: 20px;
}

@media screen and (max-width: 1000px) {
  section {
      border-radius: 0;
      padding-left: 1em;
      padding-right: 1em;
      margin-left: auto;  /* Center the section horizontally */
      margin-right: auto; /* Center the section horizontally */
      width: 80%; /* Make the section full width on mobile */
  }

  nav {
      display: none !important;
  }
}



section h2 {

    word-wrap :break-word; 
}

nav {
  position: sticky;
  left: 20px;
  top: 100px;
  height: 100%; /* Adjust this height based on your design */
  width: 250px; /* Adjust the width based on your design */
  background-color: var(--off-white);
  padding: 20px;
  z-index: 10; /* Ensure the navigation bar is above other elements */
}

.navigator {
  margin-top: 20px; /* Add margin-top to create space between the header and the navigation */
  text-wrap: balance;
}

.nav-list {
  list-style: none;
  padding: 0;
}

nav li a {
  font-size: var(--size-3);
  margin-bottom: 10px; /* Adjust spacing between each navigation item */
  padding: 10px;
  line-height: 1.1;
}


ul,
ol {
    max-width: 75ch;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
}

.team-member img {
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--light-rose);
}

.team-member {

    text-align: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.member-name {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: black;
}

.member-mail {
    text-align: center;
}

@media screen and (max-width: 740px) {
    .team {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.75rem;
        margin-bottom: 10px;
        padding-right: 4%;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-gray);
    padding: 1%;
    padding-top: 2%;
    overflow: hidden;
}

footer p {
    margin: 0;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

.container {
  display: flex; /* Adjust this property based on your design needs */
}

.center {
    text-align: center;
}

.sans-serif {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.serif {
    font-family: 'Times New Roman', Times, serif;
}

.slab {
    font-family: 'Sanchez', serif;
}

.script {
    font-family: "england_hand_dbregular";
}

.handwritten {
    font-family: 'wkwkregular';
}

.display {
    font-family: 'library_3_amregular';
}
.novelty {
    font-family: 'summerbee';
}

.unit {
    font-family: monospace;
    font-size: inherit;
    background: var(--light-gray);
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}


.centered {
  text-align: center;
}

.example {
  height: 65em;
  max-width: 100ch;
}


:is(h1, h2, h3, *) {
  --flow-space: 0.5em;
}


a {
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
      scroll-behavior: auto;
  },
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important; 
}