
:root {
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-primary: #1a8fe3;
  }
  
.content2 {
    width: 60vw;
    background: var(--color-primary);
    color: var(--color-dark);
    padding: 2em;
    font-family: Georgia, serif;
  }
  
  .content2 h1,
  .content2 h2,
  .content2 h3 {
    font-family: Inter, sans-serif;
    font-weight: 800;
  }
  
  .content2 ul,
  .content2 ol {
    padding-inline-start: 1em;
  }
  
  .content2 blockquote {
    padding-inline-start: 1em;
    border-inline-start: 0.3em solid;
  }
  

  