
:root {
    --color-dark: #252525;
    --color-light: #efefef;
    --color-primary: #1a8fe3;
    --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
    --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
    --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
    --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
    --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
    
  }
  
.content2 {
    width: 60vw;
    background: var(--color-light);
    color: var(--color-dark);
    padding: 2em;
    font-family: Georgia, serif;
    font-size: var(--size-step-0);
    max-width: 65ch;
    margin-inline: auto;
  }

.content2 a {
    color: currentColor;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.3ex;
  }

  .content2 body {
    line-height: 1.7;
  }
  
  .content2 h1,
  .content2 h2,
  .content2 h3 {
    font-family: Inter, sans-serif;
    font-weight: 800;
    line-height: 1.1;
  }
  
  .content2 ul,
  .content2 ol {
    padding-inline-start: 1em;
  }
  
  .content2 .intro {
    font-size: var(--size-step-1);
    font-style: italic;
    max-width: 50ch;
    text-wrap: balance;
  }
  
  .content2 .intro + * {
    --flow-space: 2em;
  }
  .content2 blockquote {
    padding-inline-start: 1em;
    border-inline-start: 0.3em solid;
    font-style: italic;
    font-size: var(--size-step-1);
    max-width: 50ch;
  }

  .content2 h1 {
    font-size: var(--size-step-4);
    max-width: 20ch;
  }
  
  .content2 h2 {
    font-size: var(--size-step-3);
    max-width: 28ch;
  }
  
  .content2 h3 {
    font-size: var(--size-step-2);
    text-wrap: balance;
  }
  

  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  .content2 :is(h1, h2, h3, blockquote) {
    --flow-space: 1.5em;
  }

  .content2 :is(h1, h2, h3, *) {
    --flow-space: 0.5em;
  }