:root {
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-primary: #1a8fe3;
  }


/* Styles for the second content box */
.img-comp-img.img-comp-overlay .content.second-box {
    background-color: white;  
    color: var(--color-light); /* Use the light color for the text */
    padding: 2em; /* Adjust padding as needed */
    font-family: 'Inter', sans-serif; /* Use Inter font for headings */
    font-weight: 800;
}

.img-comp-img.img-comp-overlay .content.second-box blockquote {
    padding-inline-start: 1em;
    border-inline-start: 0.3em solid var(--color-dark); /* Use the dark color for the border */
}

.img-comp-img.img-comp-overlay .content.second-box h1,
.img-comp-img.img-comp-overlay .content.second-box h2,
.img-comp-img.img-comp-overlay .content.second-box h3 {
    font-family: 'Inter', sans-serif; /* Use Inter font for headings */
    font-weight: 800;
}

.img-comp-img.img-comp-overlay .content.second-box ul,
.img-comp-img.img-comp-overlay .content.second-box ol {
    padding-inline-start: 1em;
}









/*Slider*/
.container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust the gap between buttons as needed */
}

.button-box button {
    font-size: large;
    background-color: #407836;
    color: white;
    border-radius: 10%;
}

.container > div {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
    width: 100vw; /* Set the width of each slide to the viewport width */
}

img {
    max-width: 100%;
}

#container {
    scroll-snap-type: x proximity;
    overflow-x: hidden; /* Hide the horizontal scrollbar */
    overflow-y: hidden; /* Hide the vertical scrollbar and cut off content */
    border: 2px solid var(--gs0);
    border-radius: 0px;
    height: fit-content; /* Adjusted height to 800 pixels */
}

#container div {
    scroll-snap-align: end;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: 500px;
}

/* Hide scrollbar in WebKit browsers (Chrome, Safari) */
#container::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

.img-comp-container,
.img-comp-img,
.img-comp-slider {
    box-sizing: border-box;

}

.img-comp-img.img-comp-overlay {
    background-color: white;
}

.img-comp-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 800px; /* should be the same height as the images */
}


.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
    object-position: center;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 10px; /* Adjust the width of the slider */
    height: 100%; /* Set the height to 100% to cover the full height of the image */
    background-color: #407836;
    opacity: 0.7;
    border-radius: 5px; /* Adjust the border-radius as needed */
}


.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.flexbox img {
    margin: auto;
}


* {
    box-sizing: border-box;
}

/* main {
    padding: 12px 15px;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
} */

