body {
    font-size: 1em;
}
@media screen and (resolution <= 2dppx) {
    body {
        font-size: 1.5em;
    }

    .smaller {
        font-size: 1em;
    }

    .center h1 {
        font-size: 4em;
    }

    .content {
        width: 60%;
        margin-left: 20%;
     }
}

        
p {
    font-size: 1em;
}
.center p,h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    
 }

 .center {
    text-align: center;
    width: 80%;
    margin-left: 10%;
 }

.center h1 {
    font-family: 'library_3_amregular';
    font-size: 2em;
}


.smaller {
    font-size: 0.75em;
}

.center p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    width: 90%;
    padding-left: 5%;
 }

 .handwritten-font {
    font-family: 'wkwkregular';
 }