h1 {
    font-family: 'library_3_amregular';
}

.center p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .handwritten-font {
    font-family: 'wkwkregular';
 }